body{
    margin: 0;
    font-family: 'Abel', sans-serif;}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: initial;
}
input{
    display: block;
}
.inner-wrapper{
    width: 500vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translatey(-100vh);
    transform-origin: top left;
}
.outer-wrapper{
    background: linear-gradient(170deg, rgba(216,157,255,1) 0%, rgba(255,115,115,1) 50%, rgba(255,253,106,1) 100%);
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translatex(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}
#svgtop{
    position: absolute;
    z-index: -1;
}
#svgbottom{
    position: absolute;
    bottom: 0px;
    z-index: -1;
}


#navbar{
    position: absolute;
    width: 50vw;
    left: calc(50vw - 25vw);

}
#navbarlist{
    top: 50px;
    left: 25vw;
    width: 50vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0;
}
.navbarItem{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 18px;
}
.navbarItem:hover{
    transform: scale(1.1);
}


.home{
    background-color: rgba(216,157,255,1);
}
.about{
    background-color: rgb(236,136,183);
}
.products{
    background-color:rgba(255,115,115,1);
}
.services{
    background-color:rgba(255,179,111,1);
}
.contactus{
    background-color: rgba(255,253,106,1);
}
/*--------------------------------------------------------------------------home---------------------------------------------------------------------------*/

#homeheader{
    font-size: 140px;
    position: relative;
    top:52px;
    transform: rotate(-3.4deg);
}
.sections{
    width: 100vw;
}
/*--------------------------------------------------------------------------about us---------------------------------------------------------------------------*/

#aboutheader{
    position: relative;
    font-size: 70px;
    top: 500px;
}
#aboutuspart{
    font-size: 140px;
}
#phonenumber{
    position: relative;
    top: 500px;
    font-weight: 900;
    font-size: 70px;
    z-index: 10;
}
/*--------------------------------------------------------------------------products---------------------------------------------------------------------------*/

.productItems{
    border: 15px solid black;
    background-color: white;
    position: absolute;
}
#product1{
    top: 193px;
    left: 3200px;
    transform: rotate(-15deg);
    width: 265px;
    height: 265px;
}
#product2{
    top: 250px;
    left: 3700px;
    transform: rotate(25deg);
    width: 250px;
    height: 250px;
}

#product3{
    top: 255px;
    left: 4200px;
    transform: rotate(-19deg);
    width: 285px;
    height: 285px;
}   
/*--------------------------------------------------------------------------contact us---------------------------------------------------------------------------*/
#contactUsGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
}
#contactUsText{
    grid-column: 1 / 2;
}
#contactUsHeader1{
    position: absolute;
    top:208.5px;
    font-size: 140px;
    color: white;
    transform: rotate(-1deg);

}
#contactUsHeader2{
    position: absolute;
    left: 402vw;
    top: 330px;
    font-size: 140px;
    background: linear-gradient(30deg, rgba(216,157,255,1) 50%, rgba(255,115,115,1) 100%);    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#contactUsForm{
    grid-column: 2 / 3;
    height: 530px;
    width: 450px;
    border-radius: 50px;
    margin-top: 200px;
}
#contactUsFormTop{
    background-color: white;
    width: auto;
    height: 150px;
    border: rgba(243,213,91,32) 10px solid;
    border-radius: 50px 50px 0 0;
    border-bottom: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contactUsLabels{
    color: rgba(240,196,25,32);
    display: block; 
    text-align: center; 
    font-size: 17px;
}
.name{
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 30px;
    background-color: rgba(240,196,25,32);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}
#contactUsFormBottom{
    background-color: white;
    height: 350px;
    border: rgba(240,196,25,32) 10px solid;
    border-radius: 0px 0px 50px 50px;
    border-top: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}
#userMessage{ 
    color: white;
    background-color: rgba(243,213,91,32);
    height: 100%;
    border: none;
    border-radius: 2em;
    padding: 10px;
    text-align: justify;
    resize: none;

}
#userMessage::placeholder{
    color: white;
}
textarea:focus{
    outline: none;
}
input:focus{
    outline: none;
}
#contactUsSubmitButton{
    border-radius: 30px 30px 0 0;
    border: none;
    background-color: rgba(240,196,25,32);
    color: white;
    height: 50px;
    width: 200px;
    align-self: center;
    margin: 2px auto 2px auto;
    font-size: 20px;
    cursor: pointer;
}
#contactUsIconContainer{
    display: flex;
    justify-content: center;
    align-items: end;
}
#contactUsSendIcon{
    grid-template-rows: 3 / 4;
    width: 300px;
}
